<table border="2">
    <tr>
        <td colspan="3" align="center">TODO: Percent to target shaded here</td>
        <td [width]="50" id="remainingNeeded">Need:{{getTargetScore(currentPlayer.skill) - currentPlayer.curScore}}</td>
    </tr>
    <tr>
        <td [width]="300" id="playerName">{{currentPlayer.name}}</td>
        <td [width]="40" id="playerSkill">Skill:{{currentPlayer.skill}}</td>
        <td colspan="2" [width]="160" id="playerScore">Score:{{currentPlayer.curScore}} of {{getTargetScore(currentPlayer.skill)}}</td>
    </tr>
</table>