<div *ngIf="getTeamName().length > 0">
    <h4>Confirm info for [{{getTeamName()}}]</h4>
    <table mat-table id="playerNamesTable">
        <tr>
            <th [width]="80">Number</th>
            <th [width]="170">Name</th>
            <th [width]="60">Skill</th>
        </tr>
        <tr *ngFor="let player of getPlayers()">
            <td *ngIf="getIsUpdateMode()"><input class="playerIDInput" value="{{player.id}}"></td>
            <td *ngIf="getIsUpdateMode()==false" class="playerInfo">{{player.id}}</td>
            <td *ngIf="getIsUpdateMode()"><input class="playerNameInput" value="{{player.name}}"></td>
            <td *ngIf="getIsUpdateMode()==false" class="playerInfo">{{player.name}}</td>
            <td *ngIf="getIsUpdateMode()"><input class="playerSkillInput" value="{{player.skill}}"></td>
            <td *ngIf="getIsUpdateMode()==false" class="playerInfo">{{player.skill}}</td>
        </tr>
    </table>
    <button id="updateButton" [routerLink]="" (click)="onUpdate()">Update</button>
</div>