<div *ngIf="getTeamName().length > 0">
    <h4>Confirm info for [{{getTeamName()}}]</h4>
    <table mat-table id="playerNamesTable">
        <tr>
            <th [width]="80">Number</th>
            <th [width]="170">Name</th>
            <th [width]="60">Skill</th>
        </tr>
        <tr *ngFor="let player of getPlayers(); let i = index">
            <td *ngIf="getIsUpdateMode()"><input class="playerIDInput" [(ngModel)]="players[i].id" value="{{players[i].id}}"></td>
            <td *ngIf="getIsUpdateMode()==false" class="playerInfo">{{player.id}}</td>
            <td *ngIf="getIsUpdateMode()"><input class="playerNameInput" [(ngModel)]="players[i].name" value="{{players[i].name}}"></td>
            <td *ngIf="getIsUpdateMode()==false" class="playerInfo">{{player.name}}</td>
            <td *ngIf="getIsUpdateMode()"><input class="playerSkillInput" [(ngModel)]="players[i].skill" value="{{players[i].skill}}"></td>
            <td *ngIf="getIsUpdateMode()==false" class="playerInfo">{{player.skill}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td *ngIf="getIsUpdateMode()==false && getHasBeenConfirmed()==false">
                <button id="updateButton" [routerLink]="" (click)="onUpdate()">Update</button>
            </td>
            <td *ngIf="getIsUpdateMode()==false && getHasBeenConfirmed()==false">
                <button id="confirmButton" [routerLink]="" (click)="onConfirm()">Confirm</button>
            </td>
            <td *ngIf="getIsUpdateMode()">
                <button id="saveButton" [routerLink]="" (click)="onSave()">Save</button>
            </td>
        </tr>
    </table>
</div>