tr:nth-child(even) {
    background-color: rgb(234, 220, 220);
  }

  .tableDataRow {
    border: 0px;
  }

  .playerIDInput {
    width: 100px;
  }
  .playerNameInput {
    width: 180px;
  }
  .playerSkillInput {
    width: 20px;
  }

  .playerInfo {
    border: 0px;
  }