<table border="1">
    <tr>
        <td>
            <abs-current-player-score [isLagWinner]=true [newGameEvent]="newGameEventSubject.asObservable()" (timeoutEventEmitter)='onTimeoutClicked($event)'></abs-current-player-score>
        </td>
    </tr>
    <tr>
        <td>
            <abs-current-player-score [isLagWinner]=false [newGameEvent]="newGameEventSubject.asObservable()" (timeoutEventEmitter)='onTimeoutClicked($event)'></abs-current-player-score>
        </td>
    </tr>
</table>
<table border="1">
    <tr>
        <td id="inningsTitle" [width]="100">Game Innings</td>
        <td id="inningsValue">{{sharedData.getCurrentInningIndex()}}</td>
        <td class="seperating-border"> </td>
        <td id="deadBallsTitle" [width]="100">Game<br>Dead Balls</td>
        <td id="deadBallsValue">{{sharedData.getGameDeadBallCount()}}</td>
        <td class="seperating-border"> </td>
        <td id="totalsTitle" [width]="150" class="totals-cell">Match<br>Totals</td>
    </tr>
    <tr>
        <td [colSpan]="2" class="center-item">
            <button id="addInning" (click)="onAddInning()">Add Inning</button><br>
            <button id="decrementInning" (click)="onDecrementInning()">Decrement</button>
        </td>
        <td class="seperating-border"></td>
        <td [colSpan]="2" class="center-item">
            <button id="addDeadBall" (click)="onAddDeadBall()">Add DeadBall</button><br>
            <button id="decrementDeadBall" (click)="onDecrementDeadBall()">Decrement</button>
        </td>
        <td class="seperating-border"> </td>
        <td id="totalsValues" class="totals-cell">
            Innings: {{sharedData.getTotalInningCount()}} <br>
            DeadBalls: {{sharedData.getTotalDeadBallCount()}}
        </td>
    </tr>
</table>
<div>
    <table>
        <tr>
            <td>
                <button id="printLog" (click)="onPrintLog()">Show/Hide the Game Log at the bottom of page</button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="isPrintLogMode; else ballMode">
    <abs-match-log [matchIndex]='sharedData.getCurrentMatchIndex()'></abs-match-log>
</div>
<ng-template #ballMode>
    <div *ngIf="isNewGameConfirmMode; else displayBalls">
        <abs-game-confirm [isLagWinnerShooting]="isLagWinnerShooting()" (confirmScoresCorrectEmitter)='onConfirmScoreEvent()'></abs-game-confirm>
    </div>
</ng-template>
<ng-template #displayBalls>
    <abs-balls (newGameEventEmitter)='onNewGame()'></abs-balls>
</ng-template>