.seperating-border {
    width: 4px;
    background-color: gray;
  }

.totals-cell {
    background-color: lightgrey;
    text-align: right;
}

.center-item {
  align-items: center;
  text-align: center;
}