<table border="2">
    <tr>
        <td>
            <abs-current-player-score [isLagWinner]=true></abs-current-player-score>
        </td>
        <td id="inningsTitle" [width]="80">Game Innings</td>
        <td id="inningsValue">{{sharedData.getCurrentInningIndex()}}</td>
        <td class="seperating-border"> </td>
        <td id="deadBallsTitle" [width]="80">Game<br>Dead Balls</td>
        <td id="deadBallsValue">{{sharedData.getCurrentDeadBallCount()}}</td>
        <td class="seperating-border"> </td>
        <td id="totalsTitle" class="totals-cell">Match<br>Totals</td>
    </tr>
    <tr>
        <td>
            <abs-current-player-score [isLagWinner]=false></abs-current-player-score>
        </td>
        <td [colSpan]="2">
            <button id="addInning" (click)="onAddInning()">Add Inning</button><br>
            <button id="decrementInning" (click)="onDecrementInning()">Decrement</button>
        </td>
        <td class="seperating-border"></td>
        <td [colSpan]="2">
            <button id="addDeadBall" (click)="onAddDeadBall()">Add DeadBall</button><br>
            <button id="decrementDeadBall" (click)="onDecrementDeadBall()">Decrement</button>
        </td>
        <td class="seperating-border"> </td>
        <td id="totalsValues" class="totals-cell">
            Innings: {{sharedData.getTotalInningCount()}} <br>
            DeadBalls: {{sharedData.getTotalDeadBallCount()}}
        </td>
    </tr>
</table>
<div>
    <table>
        <tr>
            <td>
                <button id="printLog" (click)="onPrintLog()">Show/Hide the Game Log at the bottom of page</button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="isPrintLogMode; else ballMode">
    <abs-match-log [matchIndex]='sharedData.getCurrentMatchIndex()'></abs-match-log>
</div>
<ng-template #ballMode>
    <abs-balls></abs-balls>
</ng-template>