<div>
    <h2 *ngIf="isYourTeam">Select Your Team</h2>
    <h2 *ngIf="isYourTeam==false">Select Opponent Team</h2>
    <div *ngFor="let teamName of teams">
        <a (click)="chooseTeam(teamName)" [routerLink]="">{{teamName}}</a>
</div>
<div *ngIf="getChosenTeamName().length > 0">
    <h4>Confirm Player info for {{getChosenTeamName()}}</h4>
    <table mat-table id="playerNamesTable">
        <tr>
            <th [width]="80">Number</th>
            <th [width]="170">Name</th>
            <th [width]="60">Skill</th>
        </tr>
        <tr *ngFor="let player of getPlayers()">
            <td>{{player.id}}</td>
            <td>{{player.name}}</td>
            <td>{{player.skill}}</td>
        </tr>
    </table>
</div>
<div *ngIf="getChosenTeamName().length == 0">
    <h4>Choose a team above</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>