<table id="teamSelections">
    <tr>
        <td class="rightpad"><strong>Your Team: </strong>{{getYourTeam()}}</td>
        <td><strong>Opponent Team: </strong>{{getOpponentTeam()}}</td>
    </tr>
    <tr>
        <td class="rightpad"><abs-team-selection [isYourTeam]="true" [teams]='getTeamNames()' (notifyTeamWasSelected)='onTeamSelected($event)'></abs-team-selection></td>
        <td><abs-team-selection [isYourTeam]="false" [teams]='getTeamNames()' (notifyTeamWasSelected)='onTeamSelected($event)'></abs-team-selection></td>
    </tr>
    <tr>
        <td class="rightpad"><abs-player-info-update [isYourTeam]="true" [teamName]='getYourTeam()' (notifyConfirm)='onConfirmClicked($event)'></abs-player-info-update></td>
        <td><abs-player-info-update [isYourTeam]="false" [teamName]='getOpponentTeam()' (notifyConfirm)='onConfirmClicked($event)'></abs-player-info-update></td>
    </tr>
</table>