<div>
    <h2>Team Names</h2>
    <h4>Click on a team to load that team's players</h4>
    <div *ngFor="let teamName of getTeamNames()">
        <a (click)="chooseTeam(teamName)" [routerLink]="">{{teamName}}</a>
</div>
<div *ngIf="getChosenTeamName().length > 0">
    <h2>Players for team [{{getChosenTeamName()}}]:</h2>
    <table mat-table>
        <tr>
            <th [width]="80">Number</th>
            <th [width]="170">Name</th>
            <th [width]="60">Skill</th>
        </tr>
        <tr *ngFor="let player of getPlayers()">
            <td>{{player.id}}</td>
            <td>{{player.name}}</td>
            <td>{{player.skill}}</td>
        </tr>
    </table>
</div>